.navbar {
    background-color: rgba(0,0,0,0.2);
    opacity: 1.0;
    height: 80px;
}

.navbar *{
    text-decoration: none;
    margin: 5px;
    color: white;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.35rem;
    opacity: 1.0;
    height: 80px;
}