:root {
  --color-for-background: rgb(41, 39, 39);
  --color-for-text: azure;
  --color-for-bars: azure;
  --color-Fire: rgb(156, 107, 10);
  --color-Water: rgb(78, 78, 130);
  --color-Poison: rgb(13, 65, 13);
  --color-Plant: green;
  --color-Flight: white;
  --color-Bug: lightgreen;
  --color-Normal: grey;
  --color-Electric: rgb(197, 165, 22);
  --color-Fairy: pink;
  --color-Soil: brown;
  --color-Fight: rgb(70, 34, 6);
  --color-Psychic: violet;
  --color-Steel: rgb(85, 87, 87);
  --color-Grass: darkgreen;
  --color-Ice: rgb(141, 210, 210);
  --color-Rock: rgb(132, 118, 118);
  --color-Ghost: rgb(79, 12, 92);
  --color-Dark: rgb(53, 25, 3);
  --color-Dragon: rgb(71, 13, 229);
}

p {
  font-size: 1rem;
  color: var(--color-for-text);
}

h5 {
  margin: 2%;
  color: var(--color-for-text);
  font-size: 2em;
  margin: 8%;
}

a {
  text-decoration: none;
}

.sectionDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-for-background);

  .prevNext {
    width: 30%;
    padding-left: 3%;
    padding-right: 3%;

    a {
      font-size: 30px;
      color: var(--color-for-text);
    }
  }
}

.detailContainer {
  height: 77vh;
  width: 60vw;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px black;
  display: flex;
  flex-direction: column;
  background-color: var(--color-for-background);
  margin: 15px;

  .link2Overview {
    position: relative;
    width: 30px;
    top: 15px;
    left: 15px;
    text-decoration: none;
    font-size: 30px;
    color: var(--color-for-text);

    // .x1,
    // .x2 {
    //   display: inline-block;
    //   background-color: var(--color-for-text);
    //   height: 2px;
    //   width: 15px;
    // }

    // .x1 {
    //   transform: rotate(45deg);
    //   z-index: 1;
    //   background-color: none;
    // }
    // .x2 {
    //   transform: rotate(-45deg);
    //   z-index: 2;
    //   background-color: none;
    // }
  }

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
  }

  .upperPart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: none;

    .types {
      border-radius: 10px;
      box-sizing: border-box;
      width: 100px;
      padding: 1%;
      margin: 4%;
      text-align: center;
    }

    #fire {
      background-color: var(--color-Fire);
    }
    #water {
      background-color: var(--color-Water);
    }
    #poison {
      background-color: var(--color-Poison);
    }
    #plant {
      background-color: var(--color-Plant);
    }
    #flying {
      background-color: var(--color-Flight);
    }
    #bug {
      background-color: var(--color-Bug);
    }
    #normal {
      background-color: var(--color-Normal);
    }
    #electric {
      background-color: var(--color-Electric);
    }
    #grass {
      background-color: var(--color-Grass);
    }
    #fairy {
      background-color: var(--color-Fairy);
    }
    #ground {
      background-color: var(--color-Soil);
    }
    #fighting {
      background-color: var(--color-Fight);
    }
    #psychic {
      background-color: var(--color-Psychic);
    }
    #steel {
      background-color: var(--color-Steel);
    }
    #ice {
      background-color: var(--color-Ice);
    }
    #rock {
      background-color: var(--color-Rock);
    }
    #ghost {
      background-color: var(--color-Ghost);
    }
    #dark {
      background-color: var(--color-Dark);
    }
    #dragon {
      background-color: var(--color-Dragon);
    }
  }

  .lowerPart {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 3%;
    height: 50%;

    .lowerPartGrid {
      display: grid;
      grid-template-columns: 6fr 3fr 10fr;
      width: 70%;
      align-items: center;
      justify-items: start;
      gap: 5%;

      .bar {
        width: 200px;
        height: 15px;
        background-color: grey;
        border-radius: 10px;

        .barColored {
          height: 15px;
          border-radius: 10px;
          background-color: var(--color-for-bars);
        }
      }
    }
  }
}
