:root {
  --color-for-background: rgb(41, 39, 39);
  --color-for-text: azure;
  --color-for-bars: azure;
  --color-Fire: rgb(156, 107, 10);
  --color-Water: rgb(78, 78, 130);
  --color-Poison: rgb(13, 65, 13);
  --color-Plant: green;
  --color-Flight: white;
  --color-Bug: lightgreen;
  --color-Normal: grey;
  --color-Electro: rgb(197, 165, 22);
  --color-Fairy: pink;
  --color-Soil: brown;
  --color-Fight: rgb(70, 34, 6);
  --color-Psychic: violet;
  --color-Steel: rgb(85, 87, 87);
  --color-Grass: darkgreen;
}

p {
  font-size: 1rem;
  color: var(--color-for-text);
}

h5 {
  margin: 2%;
  color: var(--color-for-text);
  font-size: 2em;
  margin: 8%;
}

.detailContainer {
  height: 80vh;
  width: 60vw;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px black;
  display: flex;
  flex-direction: column;

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
  }

  .upperPart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3%;

    .types {
      border-radius: 10px;
      box-sizing: border-box;
      width: 100px;
      padding: 1%;
      margin: 4%;
      text-align: center;
    }

    #fire {
      background-color: var(--color-Fire);
    }
    #water {
      background-color: var(--color-Water);
    }
    #poison {
      background-color: var(--color-Poison);
    }
    #plant {
      background-color: var(--color-Plant);
    }
    #flight {
      background-color: var(--color-Flight);
    }
    #bug {
      background-color: var(--color-Bug);
    }
    #normal {
      background-color: var(--color-Normal);
    }
    #electric {
      background-color: var(--color-Electro);
    }
    #grass {
      background-color: var(--color-Grass);
    }
    #fairy {
      background-color: var(--color-Fairy);
    }
    #soil {
      background-color: var(--color-Soil);
    }
    #fight {
      background-color: var(--color-Fight);
    }
    #psychic {
      background-color: var(--color-Psychic);
    }
    #steel {
      background-color: var(--color-Steel);
    }
  }

  .lowerPart {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 3%;
    height: 50%;

    .lowerPartGrid {
      display: grid;
      grid-template-columns: 6fr 3fr 10fr;
      width: 70%;
      align-items: center;
      justify-items: start;
      gap: 5%;

      .bar {
        width: 200px;
        height: 15px;
        background-color: grey;
        border-radius: 10px;

        .barColored {
          height: 15px;
          border-radius: 10px;
          background-color: var(--color-for-bars);
        }
      }
    }
  }
}
